.gen-prayer-label {
    color: white;
}

.current-prayer-label {
    color: salmon;
}

.non-prayer-label {
    color: silver;
}

.past-prayer-label {
    color: gray;
}

.button:hover {
    background-color: #999999;
}
.button:active {
    background-color: #aaaaaa;
}
